!pui-backend/node_modules/
pui-backend/node_modules/*
!pui-frontend/node_modules/
pui-frontend/node_modules/*
!pui-backend/dist/
pui-backend/dist/*
!pui-frontend/dist/
pui-frontend/dist/*
pui-backend/.history
!pui-backend/.sessions/
pui-backend/.sessions/*
.history
.directory
.package-lock.json
pui-backend/package-lock.json
pui-frontend/package-lock.json
!.idea/
.idea