<app-accountbar [account]="accountNumber"></app-accountbar>


<main id="content" role="main" class="govuk-main-wrapper">
    <!-- [items]="links" -->
  <app-hmcts-sub-navigation></app-hmcts-sub-navigation>
  
  

  <ng-container [ngSwitch]="selection" >
    <app-summary-panel data-selector="summary-panel" *ngSwitchCase="'summary'" [panelData]="section" ></app-summary-panel>
    <app-transactions-panel data-selector="transactions-panel" *ngSwitchCase="'transactions'" [panelData]="section"></app-transactions-panel> 
</ng-container>

  
</main>
